[Unit]
Description=Service that update Calaos Dynamic DNS periodically

[Service]
Type=oneshot
ExecStart=/usr/bin/calaos_ddns update
Environment="HOME=/home/root"
Environment="CALAOS_HAPROXY_PATH=/mnt/calaos/haproxy"
Environment="CALAOS_CERT_FILE=/mnt/calaos/haproxy/server.pem"
Environment="CALAOS_CONFIG=/mnt/calaos/config"
Environment="CALAOS_HAPROXY_TEMPLATE_PATH=/usr/share/calaos-ddns"
Environment="CALAOSDNS_CACHE_DIR=/mnt/calaos/calaos-ddns"